{{define "content"}}
{{- if ne .MarkedPlayed "" -}}
  <div class="w-100 text-bg-success d-flex py-1 justify-content-between">
    <div class="ms-1 text-truncate">{{.PlayedLeaf}} marked played</div>
    <button type="button" class="btn btn-secondary btn-sm d-inline-block piaf-undo-mark-played me-1" data-file="{{.MarkedPlayed}}">Undo</button>
  </div>
{{- end -}}

<table id="index-table" class="piaf-media-table table table-striped {{ if or (ne .RequestPath "/") (ne .ViewStyle "by-age") -}} folders-shown {{- end -}}">
  <colgroup>
    <col span="1">
    <col span="1">
    <col span="1">
    <col span="1">
    <col span="1">
  </colgroup>
  <tbody>
    {{/* directories first */}}
    {{- if eq .RequestPath "/" -}}
      {{- if eq .ViewStyle "by-age" -}}
      <tr>
        <td>
          <button type="button" class="btn btn-link text-decoration-none px-1 piaf-toggle-folders">
            <div class="hide-if-folders-visible"><i class="bi bi-caret-right-fill"></i></div>
            <div class="show-if-folders-visible"><i class="bi bi-caret-down-fill"></i></div>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-link btn-text-link piaf-toggle-folders"><i>Folders</i></button>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {{- end -}}
    {{- else -}}
      <tr>
        <td></td>
        <td><a class="btn btn-link" href=".."><i class="bi bi-arrow-90deg-up"></i></a><a class="btn btn-link text-start" href="..">Up</a></td>
        <td></td>
        <td></td>
      </tr>
    {{- end -}}
    {{- range .SubDirectories }}
      <tr class="show-if-folders-visible">
        <td>{{/* play button */}}</td>
        <td><a class="btn btn-link text-start" href="/media/{{.RelativePath}}/">{{.Leaf}}</a></td>
        <td class="piaf-fixed-width-numbers">{{.TotalDurationString}}</td>
        <td></td>
        <td></td>
      </tr>
    {{- end -}}
    {{- range $index, $file := .Files }}
      {{/* if len($.Files) <= 11, all rows are visible;
           if len($.Files) >= 12, only the first 10 rows (i.e. $index <= 9) are visible */}}
      <tr class="piaf-media-files {{ if or (gt $index 10) (and (eq $index 10) (gt (len $.Files) 11) ) }}show-if-files-expanded{{ end }}" data-file="{{.RelativePath}}">
        <td>
          <button type="button" class="btn btn-link piaf-play-file piaf-play-icon"><i class="bi bi-play"></i></button>
        </td>
        <td>
          <button type="button" class="btn btn-link border-0 piaf-play-file pe-1 text-start
                                         {{ if ne .InfoLink "" -}}has-info-link{{- end -}}"
                  {{- if ne .Tooltip "" -}}
                      data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-title="{{.Tooltip}}"
                  {{- end -}}
          >
            {{.DisplayName}}
          </button>
          {{- if ne .InfoLink "" -}}
            <a class="btn btn-link ps-0" href="{{.InfoLink}}" target="_blank"><i class="bi bi-arrow-up-right-square"></i></a>
          {{- end -}}
        </td>
        <td class="piaf-fixed-width-numbers">
          {{.DurationString}}
        </td>
        <td>
          <button type="button" class="btn btn-secondary btn-sm d-none d-lg-inline-block piaf-mark-played">Played</button>
        </td>
        <td class="dropdown">
          <i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown" aria-expanded="false"></i>
          <ul class="dropdown-menu">
            <li class="d-lg-none">
              <button type="button" class="btn piaf-mark-played px-4 py-2 dropdown-item">Played</button>
            </li>
            <li>
              <button type="button" class="btn px-4 py-2 dropdown-item" data-bs-toggle="modal" data-bs-target="#send-to-phone-modal">Send to phone...</button>
            </li>
            {{- range $.PhoneAddressHistory }}
            <li>
              <button type="button" class="btn px-4 py-2 dropdown-item send-to-phone-address-menu-item" data-phone-address="{{.}}">Send to {{.}}</button>
            </li>
            {{- end -}}
          </ul>
        </td>
      </tr>
      {{ if and (eq $index 9) (gt (len $.Files) 11) }}
      <tr>
        <td>
          <button type="button" class="btn btn-link text-decoration-none px-1 piaf-toggle-files">
            <div class="hide-if-files-expanded"><i class="bi bi-caret-right-fill"></i></div>
            <div class="show-if-files-expanded"><i class="bi bi-caret-down-fill"></i></div>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-link btn-text-link piaf-toggle-files">
            <div class="hide-if-files-expanded"><i>Show more</i></div>
            <div class="show-if-files-expanded"><i>Show less</i></div>
          </button>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {{- end -}}
    {{- end }}
    <tr class="table-secondary">
      <td>{{/* play button */}}</td>
      <td>TOTAL</td>
      <td class="piaf-fixed-width-numbers">{{.TotalDurationString}}</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<div id="send-to-phone-modal" class="modal send-to-phone-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="send-to-phone-form" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title">Send to Phone</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="file-to-upload" name="file-to-upload">
                    <label for="phone-ip-address" class="form-label">Phone IP address</label>
                    <input type="text" class="form-control" name="phone-ip-address" id="phone-ip-address" placeholder="nnn.nnn.nnn.nnn" required>
                    <div class="invalid-feedback">
                        Enter an IP address
                    </div>
                    <div id="send-to-phone-failed" class="text-danger">
                        Failed to send to phone
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary bg-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary bg-primary" id="send-to-phone-submit">
                        <span class="spinner-border spinner-border-sm" aria-hidden="true" id="send-to-phone-spinner"></span>
                        Upload
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{{asset "sendtophone.js"}}"></script>

{{end}}

{{template "base" .}}
