.banner-path-item:not(:first-child)::before {
    content: "/";
    margin-left: 8px;
    margin-right: 8px;
}

nav + div {
    margin-top: 64px;
    margin-bottom: 80px;
}

.piaf-media-table {
    .btn-link {
        --bs-btn-padding-y: 0px;
    }

    button.piaf-play-icon {
        --bs-btn-padding-x: 2px;
    }

    col:nth-child(1) {
        width: 24px;
    }
}

.footer {
    border-top: 4px solid var(--bs-body-bg);
    padding-top: 8px;
    padding-bottom: 8px;
}

.volume-container {
    width: 25%;
}
