<!DOCTYPE html>
<html>
<head>
<link href="/assets/bootstrap.min.css" rel="stylesheet">
<link href="/assets/piaf.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/b06f37c98e.js" crossorigin="anonymous"></script>
<script src="/assets/bootstrap.bundle.min.js"></script>
<script src="/assets/piaf.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg fixed-top bg-primary" data-bs-theme="dark">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand border border-0" href="/media">Piaf</a>
    <span class="navbar-nav border border-0 navbar-text h1">
      {{- range .RequestPathElts -}}
        <span class="banner-path-item">{{.}}</span>  <!-- TODO: Make these links -->
      {{else}}
        <span>Root</span>
      {{end}}
    </span>
    <span class="navbar-brand opacity-0">Piaf</span>
  </div>
</nav>

<div class="container">
  {{/* the main content */}}

  <table class="piaf-media-table table table-striped">
    <colgroup>
      <col span="1">
      <col span="1">
      <col span="1">
    </colgroup>

    <tbody>
      {{/* directories first */}}
      {{- if ne .RequestPath "/" -}}
        <tr>
          <td></td>
          <td><a class="btn btn-link" href="..">(up)</a></td>
          <td></td>
        </tr>
      {{end}}

      {{- range .MediaDir.SubDirectories }}
        <tr>
          <td></td>
          <td><a class="btn btn-link" href="/media/{{.RelativePath}}/">{{.Leaf}}</a></td>
          <td></td>
        </tr>
      {{- end -}}

      {{- range .MediaDir.Files }}
        <tr>
          <td>
            <button type="button" class="btn btn-link piaf-play-file piaf-play-icon" data-file="{{.RelativePath}}"><i class="fa-solid fa-play"></i></button>
          </td>
          <td>
            <button type="button" class="btn btn-link piaf-play-file" data-file="{{.RelativePath}}">
              {{.DisplayName}}
            </button>
          </td>
          <td>
            {{.Duration}}
          </td>
        </tr>
      {{- end }}
    </tbody>
  </table>
</div>

<div class="w-100 fixed-bottom footer d-flex justify-content-evenly align-items-center bg-primary">
  <div class="dropup dropup-center bg-primary d-none">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Speed
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">1x</a></li>
      <li><a class="dropdown-item" href="#">1.1x</a></li>
      <li><a class="dropdown-item" href="#">1.25x</a></li>
      <li><a class="dropdown-item" href="#">1.33x</a></li>
      <li><a class="dropdown-item" href="#">1.5x</a></li>
    </ul>
  </div>

  <button id="resume" class="btn btn-dark"><i class="fa-solid fa-2x fa-fw fa-play"></i></button>
  <button id="pause" class="btn btn-dark"><i class="fa-solid fa-2x fa-fw fa-pause"></i></button>
</div>

<script>initPiaf();</script>
</body>
</html>
